# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE - Eclipse / STS
# ========================
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# ========================
# IDE - IntelliJ
# ========================
.idea/
*.iml


# ========================
# Java
# ========================
*.class

# ========================
# Environment Variables
# ========================
.env

# ========================
# Build files
# ========================
build/

# ========================
# Test reports
# ========================
surefire-reports/
jacoco.exec

